###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=./neibers

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

CHANGE_SOURCE=true

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### NGINX #################################################

NGINX_HOST_HTTP_PORT=85
NGINX_HOST_HTTPS_PORT=445
NGINX_HOST_LOG_PATH=./docker/logs/nginx/
NGINX_SITES_PATH=./docker/nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=drupal
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_SSL_PATH=./docker/nginx/ssl/